<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<header>
	{{#link-to 'index'}}
	<h1>Arma 3 Server Manager </h1>
	{{/link-to}}
	<p>Tools</p>
	<ul>
		<li>{{#link-to 'players' class='button'}} Player Accounts - ban/kick/view their stats{{/link-to}}</li>
		<li>Territories - View their stats/delete/View their VG</li>
		<li>Stolen Territories - Restore flag</li>
		<li>Trade Check - View player trade transactions</li>
		<li>Waste Trade Check - View player trade transactions</li>
		<li>View vehicles - View player owned vehicles and their status/restore them</li>
		<li>Raid history - View raid history bomb planted, etc</li>
		<li>Flag stolen history - View history of stolen flags/Restored at</li>
	</ul>
	{{#link-to 'about'}}
	About us
	{{/link-to}}

</header>

<hr>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
	&copy;2013 CommanderDerpy, Inc.
</footer>