<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<header>
	{{#link-to 'index'}}
	<h1>Arma 3 Server Manager </h1>
	{{/link-to}}
	<nav class="nav nav-pills">
		<li class="nav-item">
			{{#link-to 'players' class='nav-link'}}Players{{/link-to}}
		</li>
		<li class="nav-item">
			{{#link-to 'players' class='nav-link'}}Territories{{/link-to}}
		</li>
		<li class="nav-item">
			{{#link-to 'players' class='nav-link'}}Stolen Territories{{/link-to}}
		</li>
		<li class="nav-item">
			{{#link-to 'players' class='nav-link'}}Trade Check{{/link-to}}
		</li>
		<li class="nav-item">
			{{#link-to 'players' class='nav-link'}}Waste Trade Check{{/link-to}}
		</li>
		<li class="nav-item">
			{{#link-to 'players' class='nav-link'}}View vehicles{{/link-to}}
		</li>
		<li class="nav-item">
			{{#link-to 'players' class='nav-link'}}Raid history{{/link-to}}
		</li>
		<li class="nav-item">
			{{#link-to 'players' class='nav-link'}}Flag stolen history{{/link-to}}
		</li>
		<li class="nav-item">
			{{#link-to 'about' class='nav-link'}}About{{/link-to}}
		</li>
	</nav>

</header>

<hr>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
	&copy;2013 CommanderDerpy, Inc.
</footer>