

<header>
	{{#link-to 'index' class="button"}}
	<h1>Arma 3 Server Manager </h1>
	{{/link-to}}
	<p>Tools</p>
	<ul>
		<li>{{#link-to 'players' class='button'}} Player Accounts - ban/kick/view their stats{{/link-to}}</li>
		<li>Territories - View their stats/delete/View their VG</li>
		<li>Stolen Territories - Restore flag</li>
		<li>Trade Check - View player trade transactions</li>
		<li>Waste Trade Check - View player trade transactions</li>
		<li>View vehicles - View player owned vehicles and their status/restore them</li>
		<li>Raid history - View raid history bomb planted, etc</li>
		<li>Flag stolen history - View history of stolen flags/Restored at</li>
	</ul>
	{{#link-to 'about' class="button"}}
	About us
	{{/link-to}}

</header>

<hr>

<div>
  {{outlet}}
</div>

<hr>

<footer>
	&copy;2013 CommanderDerpy, Inc.
</footer>