<h2>Player list</h2>
<h2>Server stats</h2>
<p>Total Poptabs</p>
<p>Total Constructions</p>
<p>Total Containers</p>
<p>Total objects</p>
<p>Total players online</p>
<p>Total players in DB</p>
<p>Graphs on player pop etc.</p>
<h2>Rcon Chat</h2>
